{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}FantasyLeague{% endblock %}

{% block page_content %}

<div class="post-tabs">
    <ul class="nav nav-tabs"> 
        
        <li class="active"><a href="{{ url_for('gameSetup.SetupGame')}}">First Time Setup</a></li>         
        <li class="active"><a href="{{ url_for('gameSetup.AddScoreCard_Part1')}}">Add Scorecard </a></li>      
        <li class="active"><a href="{{ url_for('gameSetup.UpdateGameDetails')}}">Update Game Details </a></li>
        <li class="active"><a href="{{ url_for('gameSetup.DeactivateGame')}}">Deactive Game </a></li>


    </ul>
    {% include '_posts.html' %}
</div>

{% endblock %} 

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
