{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}FantasySquad {% endblock %}

{% block content %}  

<br>
<h2> Review the points system for this game before selecting your squad: </h2>  
<br> 

<h4> <font size="3"
    face="verdana"
    color="red"> {{time_left}} </h4> 
<br> 

<font size="3"
    face="verdana"
    color="black">

<h3> Points Per Run: {{display_dict['points_per_run']}}</h3> 
<h3> Points Per Wicket: {{display_dict['points_per_wicket']}}</h3>  
<h3> Points Per Catch/RunOut: {{display_dict['points_per_catch']}}</h3>  
<br> 
<h4> *** Batting Milestone points: for every 25 runs increment 10 milestone points are added </h4>
<h4>*** Bowling Milestone Points: for every wicket 10 milestone points are added  </h4>

<br/>

<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <br> 
</div>    

{% endblock %}
