{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}FantasyLeague{% endblock %}

{% block page_content %}

<div class="post-tabs">
    <ul class="nav nav-tabs"> 
        
        <li class="active"><a href="{{ url_for('squadSelection.DisplayActiveGames')}}">Create/Edit Squad</a></li>         
        <li class="active"><a href="{{ url_for('squadSelection.viewMySquad_Part1')}}">View My Squad </a></li>      
        
    </ul>
    {% include '_posts.html' %}
</div>

{% endblock %} 

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
